@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Revalia&family=Roboto:wght@400;500&display=swap');
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.container {
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
}